@import "bootstrap" ;
/* universal */

div.one {
    position: absolute;
    right: 10px;
}


p.login {
    border-radius: 50px 15px;
    background: #8AC007;
    padding: 10px; 
    width: auto;
    height: auto; 
}

ul.nav {
    position: absolute;
    left: 10px;

}

h1 {color: silver;
	text-align: center;

}

h2 {color: silver;
	text-align: center;

}

table {color: silver;
	margin-center: 0px;
	font-size: 30px;

}